body {
    margin: 0;
    text-shadow: 3px 3px 0 #000;
}

.screen p {
    font-size: 24px;
    margin: 10px 0;
}

#game-container {
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    background-color: #000;
    border-radius: 8px;
    overflow: hidden;
}

/* Vignette & Scanline Overlay */
#game-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.4) 100%);
    pointer-events: none;
    z-index: 5;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}